<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ServerAddress" value="localhost" />
		<add key="NetTcpPort" value="8000" />
		<add key="HttpsPort" value="8001" />
		<add key="MaxReceivedMessageSize" value="20000000" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>